# Backend Environment Variables
PORT=your_backend_port
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<dbname>?appName=<app-name>
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=1d
NODE_ENV=development

# Kafka Configuration
KAFKA_BROKERS=your_kafka_url:kafka_port
KAFKA_CLIENT_ID=your_kafka_clientId
KAFKA_GROUP_ID=your_kafka_groupId

# Application URLs
FRONTEND_URL=https://your-frontend-domain.com
BACKEND_URL=https://your-backend-domain.com

# OAuth Configuration
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

LINKEDIN_CLIENT_ID=your_linkedin_client_id
LINKEDIN_CLIENT_SECRET=your_linkedin_client_secret

GEMINI_API_KEY = your_gemini_api_key
GEMINI_MODEL = your_gemini_model
